port: 8080
user: deploy
group: deploy
pid: /home/deploy/faye/pids/thin.pid
timeout: 30
wait: 30
log: /home/deploy/faye/log/thin.log
max_conns: 4096
require: []
environment: production
max_persistent_conns: 1024
servers: 1
threaded: true
no-epoll: true
daemonize: true
chdir: /home/deploy/faye-server
tag: faye
ssl: true
ssl-key-file: /home/deploy/thin/ssl/thin.key
ssl-cert-file: /home/deploy/thin/ssl/thin.crt
ssl-disable-verify: true
